<%= render 'shared/errors', obj: @resident %>

<div class = 'well'>
  <%= form_for @resident do |f| %>
  <fieldset>
    <legend>Personal information:</legend>
    <div class = 'control-group'>
      <%= f.label :apartment_number %> <br>
      <%if current_user.admin? %>
        <%= f.text_field :apartment_number %>
      <% else %>
        <%= f.text_field :apartment_number, readonly: true %>
      <% end %>
    </div>  

    <div class = 'control-group'>
      <%= f.label :first_name %>
      <br/>
      <%if current_user.admin? %>
        <%= f.text_field :first_name %>
      <% else %>
        <%= f.text_field :first_name, readonly: true %>
      <% end %>
    </div>
 
    <div class = 'control-group'>
      <%= f.label :last_name %>
      <br/>
      <%if current_user.admin? %>
        <%= f.text_field :last_name %>
      <% else %>
        <%= f.text_field :last_name, readonly: true %>
      <% end %>
    </div>
    </br>
  </fieldset>
    <div class = 'control-group'>
      <%= f.label :personal_phone %>
      <br/>
      <%= f.text_field :personal_phone%><h6>(digits only: 123456789)</h6>
    </div>
    </br>
    <div class = 'control-group'>
      <%= f.label :work_phone %>
      <br/>     
      <%= f.text_field :work_phone%><h6>(digits only: 123456789)</h6>
    </div>
    <br/>

    <div class = 'control-group'>
      <%= f.label :username %>
      <br/>
      <%= f.text_field :username%>
    </div>
    <br/>

    <div class = 'control-group'>
      <%= f.label :password %>
      <br/>
      <%= f.password_field :password%>
    </div>
    <br/>

    <%= f.submit(@resident.new_record? ? 'Add New Resident' : 'Update Resident', class:'btn btn-primary')%>

  <% end %>

</div>
