<div class="container">        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Delete Resident</th>
        <th>Update Resident</th>
        <th>Add/Edit Packages</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>   
        <% @residents.each do |r| %>
          <tr>
            <td><%= link_to("(delete)", r, method: :delete, data: { confirm: "You sure?" }) %> </td>
            <td> <%= link_to(r.apartment_number, edit_resident_path(r)) %> </td>
            <td> 
              <%= link_to("#{r.package_count.to_i}", resident_path(r)) %> </td>
            <td><%= r.first_name%></td>
            <td><%= r.last_name%></td>
            <td><%= r.phone_personal%></td>            
          </tr>
        <% end %>   
    </tbody>
  </table>
</div>
