<div class="container">        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apartment:</th>
        <th>Resident:</th>
        <th>Contact Number:</th>
        </tr>
    </thead>
    <tbody>   
      <% @residents.each do |r| %>
        <tr>
          <td><%= r.apartment_number %> </td>
          <td>
            <ul class="nav nav-pills nav-stacked">
              <li class="dropdown">              
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= r.first_name+" "+r.last_name %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to edit_resident_path(r) do %>                    
                     Edit Profile
                    <% end %>                   
                  </li>
                  <li>
                    <%= link_to resident_path(r) do %>                      
                      Show Packages
                    <% end %>
                  </p>
                  </li>
                  <%if r!=current_user %>
                    <li class="divider"></li>
                    <li>
                      <%= link_to("Delete Resident", r, method: :delete, data: { confirm: "You sure?" }) %>                      
                    </li> 
                  <%end%>                 
                </ul>
              </li>
            </ul>
          </td>
          <td><%= number_to_phone(r.personal_phone, area_code: true)%></td> 
        </tr>         
      <% end %>   
    </tbody>
  </table>
</div>
