<h2> Add a package: </h2>
  <%= form_for [@resident, @package] do |f| %>
    <%= render 'shared/errors', obj: @package %>
    <div class = 'control-group'>
      <%= f.label :arrived %>
      <%= f.text_field :arrived %>
    </div>
    <div class = 'control-group'>
      <%= f.label :picked_up %>
      <%= f.text_field :picked_up%>
    </div>
    <br/>
    <%= f.submit(@package.new_record? ? 'Add New Package' : 'Update Package', class:'btn btn-primary')%>
  <% end %>

 <%= render 'packages/packages', obj: @resident %>