<ul class="nav">
  <li>
    <%= link_to "Package Pick-Up", root_path, :class => 'brand' %>
  </li>
</ul>

<% if logged_in? %>
  <% if current_user.admin? %>
    <div class='nav_item'>
      <%= link_to 'All Residents', residents_path, class: 'btn btn-primary btn-large' %>
    </div>

    <div class='nav_item'>
      <%= link_to 'Add Resident', new_resident_path, class: 'btn btn-primary btn-large' %>
    </div>

    <div class='nav_item'>
      <%= link_to 'Apartments', apartments_path, class: 'btn btn-info btn-large' %>
    </div>
  <% end %>

  <div class='nav_item'>
    <%= link_to 'logout', logout_path, class: 'btn btn-primary btn-large'
    %>
  </div> 
<% end %>

